<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    </head>

    <body>
        <nav class="navbar">
                <a href="index" class="nav-link">Home</a>
                <a href="reference" class="nav-link">Reference</a>
                <a href="builder" class="nav-link">Builder</a>
            </nav>
        </nav>

        {% block content %}{% endblock %}

    </body>
    <footer>
        <br>
        <p>Note: data is accurate as at 17/6/2026</p>
    </footer>
</html>