<!DOCTYPE html>
<html>
    <head>
        <title>Builder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>List Builder Tool</h1>
        <p>a tool for making Army Lists for Warhammer 40,000</p>
        <p>choose your Points limit from the options below</p>

        <p></p>

        <h2>Points Limit</h2>
        <div class="points-box">
            <a class="btn-class" href="/setpoints/500"> 500 </a>
            <a class="btn-class" href="/setpoints/750"> 750 </a>
            <a class="btn-class" href="/setpoints/1000"> 1000 </a>
            <a class="btn-class" href="/setpoints/1250"> 1250 </a>
            <a class="btn-class" href="/setpoints/1500"> 1500 </a>
            <a class="btn-class" href="/setpoints/1750"> 1750 </a>
            <a class="btn-class" href="/setpoints/2000"> 2000 </a>
        </div>

        <p></p>

        <p>each unit can only be selected upto 3 times (or 6 for Battleline)</p>
        <p>total points value of units must not exceed your points limit</p>

        <div class="pagesplit">
            <div class="page leftpage">
                <h3>Leaders</h3>
                    <div class="units-box">
                        <div class="units-btns">
                            <a class="btn-class" href="/removeleader/Warboss"> - </a>
                            <p class="btn-class">Warboss - 75pts</p>
                            <a class="btn-class" href="/addleader/Warboss"> + </a>
                        </div>
                        <div class="units-btn">
                            <a class="btn-class" href="/removeleader/Weirdboy"> - </a>
                            <p class="btn-class">Weirdboy - 65pts</p>
                            <a class="btn-class" href="/addleader/Weirdboy"> + </a>
                        </div>
                    </div>

                <h3>Battleline</h3>
                    <div class="units-box">
                        <div class="units-btn">
                            <a class="btn-class" href="/removebattleline/Boyz10"> - </a>
                            <p class="btn-class">Boyz (10) - 75pts</p>
                            <a class="btn-class" href="/addbattleline/Boyz10"> + </a>
                        </div>
                        <div class="units-btn">
                            <a class="btn-class" href="/removebattleline/Boyz20"> - </a>
                            <p class="btn-class">Boyz (20) - 150pts</p>
                            <a class="btn-class" href="/addbattleline/Boyz20"> + </a>
                        </div>
                        <div class="units-btn">
                            <a class="btn-class" href="/removebattleline/Gretchin10"> - </a>
                            <p class="btn-class">Gretchin (10) - 45pts</p>
                            <a class="btn-class" href="/addbattleline/Gretchin10"> + </a>
                        </div>
                        <div class="units-btn">
                            <a class="btn-class" href="/removebattleline/Gretchin20"> - </a>
                            <p class="btn-class">Gretchin (20) - 80pts</p>
                            <a class="btn-class" href="/addbattleline/Gretchin20"> + </a>
                        </div>
                    </div>

                <h3>Other</h3>
                    <div class="units-box">
                        <div class="units-btn">
                            <a class="btn-class" href="/removeother/Dakkarig"> - </a>
                            <p class="btn-class">Big Mek Dakkarig - 100pts</p>
                            <a class="btn-class" href="/addother/Dakkarig"> + </a>
                        </div>
                    </div>
            </div>

            <div class="page rightpage">
                <div>
                    <p class="points-text">Total Points: {{ points | default(0) }}</p>
                </div>
                    <br>
                    <h2><b>Leaders</b></h2>
                        <div class="leaderbox">
                            {% for name, data in leader_list.items() %}
                                <p>{{ name }} - {{data[0]["points"] * data[1] }} pts</p>
                            {% endfor %}
                        </div>
                    <br>
                    <h2><b>Battleline</b></h2>
                        <div class="battlelinebox">
                            {% for name, data in battleline_list.items() %}
                                <p>{{ name }} - {{data[0]["points"] * data[1] }} pts</p>
                            {% endfor %}
                            <br>
                        </div>
                    <br>
                    <h2><b>Other</b></h2>
                        <div class="otherbox">
                            {% for name, data in other_list.items() %}
                                <p>{{ name }} - {{data[0]["points"] * data[1] }} pts</p>
                            {% endfor %}
                            <br>
                        </div>
                    <br>
            </div>
        </div>
        <div>
            <unit id="Warboss">
            <unit id="Weirdboy">
            <unit id="Boyz10">
            <unit id="Boyz20">
            <unit id="Gretchin10">
            <unit id="Gretchin20">
            <unit id="Dakkarig">
        </div>
        {% endblock %}
    </body>
</html>