<!DOCTYPE html>
<html>
    <head>
        <title>Builder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>List Builder Tool</h1>
        <p>a tool for making Army Lists for Warhammer 40,000</p>
        <p>choose your Points limit from the options below</p>

        <p></p>

        <h2>Points Limit</h2>
        <div class="points-box">
            <button class="pointsbtn">500pts</button>
            <button class="pointsbtn">750pts</button>
            <button class="pointsbtn">1000pts</button>
            <button class="pointsbtn">1250pts</button>
            <button class="pointsbtn">1500pts</button>
            <button class="pointsbtn">1750pts</button>
            <button class="pointsbtn">2000pts</button>
        </div>

        <p></p>

        <p>each unit can only be selected upto 3 times (or 6 for Battleline)</p>
        <p>total points value of units must not exceed your points limit</p>

        <div class="pagesplit">
            <div class="page leftpage">
                <h3>Leaders</h3>
                    <div class="units-box">
                        <button id="warboss-" onclick="removefromlist('warboss-', 'Warboss')">-</button>
                        <button class="btnunit">Warboss - 75pts</button>
                        <button id="warboss+" onclick="addtolist('warboss+', 'Warboss')">+</button>
                        <p></p>
                        <button id="weirdboy-" onclick="removefromlist('weirdboy-', 'Weirdboy')">-</button>
                        <button class="btnunit">Weirdboy - 65pts</button>
                        <button id="weirdboy+" onclick="addtolist('weirdboy+', 'Weirdboy')">+</button>
                    </div>

                <h3>Battleline</h3>
                    <div class="units-box">
                        <button id="boyz10-" onclick="removefromlist('boyz10-', 'Boyz10')">-</button>
                        <button class="btnunit">Boyz (10) - 80pts</button>
                        <button id="boyz10+" onclick="addtolist('boyz10+', 'Boyz10')">+</button>
                        <p></p>
                        <button id="boyz20-" onclick="removefromlist('boyz20-', 'Boyz20')">-</button>
                        <button class="btnunit">Boyz (20) - 170pts</button>
                        <button id="boyz20+" onclick="addtolist('boyz20+', 'Boyz20')">+</button>
                        <p></p>
                        <button id="gretchin10-" onclick="removefromlist('gretchin10-', 'Gretchin10')">-</button>
                        <button class="btnunit">Gretchin (10) - 40pts</button>
                        <button id="gretchin10+" onclick="addtolist('gretchin10+', 'Gretchin10')">+</button>
                        <p></p>
                        <button id="gretchin20-" onclick="removefromlist('gretchin20-', 'Gretchin20')">-</button>
                        <button class="btnunit">Gretchin (20) - 80pts</button>
                        <button id="gretchin20+" onclick="addtolist('gretchin20+', 'Gretchin20')">+</button>
                    </div>

                <h3>Other</h3>
                    <div class="units-box">
                        <button id="dakkarig-" onclick="removefromlist('dakkarig-', 'Dakkarig')">-</button>
                        <button class="btnunit">Big Mek Dakkarig - 120pts</button>
                        <button id="dakkarig+" onclick="addtolist('dakkarig+', 'Dakkarig')">+</button>
                    </div>
            </div>

            <div class="page rightpage">
                <div class="pointsbar">
                    <p1>0/X Points</p1>
                </div>
                    <br>
                    <p2><b>Leaders</b></p2>
                        <div class="leaderbox">
                            <p2>Leaders added to list will show here</p2>
                            <br>
                        </div>
                    <br>
                    <p2><b>Battleline</b></p2>
                        <div class="battlelinebox">
                            <p2>Battleline units added will show here</p2>
                            <br>
                        </div>
                    <br>
                    <p2><b>Other</b></p2>
                        <div class="otherbox">
                            <p2>Any other units added will show here</p2>
                            <br>
                        </div>
                    <br>
            </div>
        </div>
        <div>
            <unit id="Warboss">
            <unit id="Weirdboy">
            <unit id="Boyz10">
            <unit id="Boyz20">
            <unit id="Gretchin10">
            <unit id="Gretchin20">
            <unit id="Dakkarig">
        </div>
        {% endblock %}
    </body>
</html>