<h1>Reference</h1>
<b1>The reference section allows you to view all the rules for units</b1>

<a href="\assets\warboss.jpg" target="_blank">
    <button type="button">Warboss</button>
</a>

<a href="\assets\weirdboy.jpg" target="_blank">
    <button type="button">Weirdboy</button>
</a>

<a href="\assets\boyz.jpg" target="_blank">
    <button type="button">Boyz</button>
</a>

<a href="\assets\gretchin.jpg" target="_blank">
    <button type="button">Gretchin</button>
</a>

<a href="\assets\bigmekdakkarig.jpg" target="_blank">
    <button type="button">Big Mek Dakkarig</button>
</a>