<h1>Reference</h1>
<p>The reference section allows you to view all the rules for units</p>

<a href="\assets\warboss.jpg" target="_blank">
    <button type="button">Warboss</button>
</a>

<br>

<a href="\assets\weirdboy.jpg" target="_blank">
    <button type="button">Weirdboy</button>
</a>

<br>

<a href="\assets\boyz.jpg" target="_blank">
    <button type="button">Boyz</button>
</a>

<br>

<a href="\assets\gretchin.jpg" target="_blank">
    <button type="button">Gretchin</button>
</a>

<br>

<a href="\assets\bigmekdakkarig.jpg" target="_blank">
    <button type="button">Big Mek Dakkarig</button>
</a>